/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*$pink: #F07D7F;
$purple: #797B99;
$blue: #74C4C7;
$moss: #D0E0BB;
$forest: #698571;*/


/* custom css*/
body, html {
    /*background: #262626;*/
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    /*color: #888B8C;*/
    height: 100%;
}

a {
    color: #698571;
}
a:hover {
    color: #F07D7F;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    font-family: 'Cabin Condensed', sans-serif;
}

footer {
    background-color: #D0E0BB;
    padding: 15px;
    text-align: center;
}

/*.h {
    position: absolute;
    top: 300px;
    left: 300px;
}

#h {
    font-size: 60px;
}*/

.info h3 {
    color: #74C4C7;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;
}

.info .about {
    text-align: center;
}

.info .background {
    text-align: center;
}

.header {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 75%;   
}

.content {
    min-height: 500px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

/*.image_wall {
    background: url('http://i.stack.imgur.com/LoWZc.jpg') repeat;
    height: 750px;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
}*/

/*.image_wall#h {
    color: orange;
}*/

.main {
    margin: 0 auto 0;
}

.main h2 {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 48px;
    margin: 20px 0;
    padding: 20px 0;
}

.headname {
/*    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30);
    z-index: 100;
    -webkit-box-shadow: 0 0 20px rgba(45, 45, 45, .3);*/
    background-color: #F07D7F;
    position: absolute;
    font-size: 25px;
    font-family: 'Cabin Condensed', sans-serif;
    color: white;
    padding: 5px;
}

.contact {
    margin: 0 auto;
    padding: 30px;
    padding-top: 70px;
}

.contact ul {
    text-align: center;
}

.contact ul li {
    display: inline;
    padding: 55px 15px 0 15px;
    border-radius: 10px;
}
.contact ul li:hover {
    background-color: #797B99;
}


#ngview {
    text-align: center;
}

.project {
    font-size: 20px;
}

.project-detail .project-name {
    color: #74C4C7;
    font-size: 20px;
    text-decoration: underline;
}

.tiny {
    font-size: 10px;
}

/* responsive grid css below*/

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.53%;
}
.span_10_of_12 {
    width: 83.06%;
}

.span_9_of_12 {
    width: 74.6%;
}

.span_8_of_12 {
    width: 66.13%;
}

.span_7_of_12 {
    width: 57.66%;
}

.span_6_of_12 {
    width: 49.2%;
}

.span_5_of_12 {
    width: 40.73%;
}

.span_4_of_12 {
    width: 32.26%;
}

.span_3_of_12 {
    width: 23.8%;
}

.span_2_of_12 {
    width: 15.33%;
}

.span_1_of_12 {
    width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; 
    }
}